{#include layout}
  {#title}Zeiterfassung Übersicht – Baunex{/title}
  {#header}Zeiterfassung Übersicht{/header}
  {#content}
    <div id="time-tracking-overview-app"
         data-employees='{employeesJson.raw}'
         data-projects='{projectsJson.raw}'
         data-pending-approvals='{pendingApprovalsJson.raw}'
         data-recent-time-entries='{recentTimeEntriesJson.raw}'
         data-weekly-stats='{weeklyStatsJson.raw}'
         data-pending-holidays='{pendingHolidaysJson.raw}'
         data-project-stats='{projectStatsJson.raw}'>
    </div>
    <script type="module" src="/js/time-tracking-overview.js"></script>
  {/content}
{/include} 