{#include layout}
    {#title}Rechnung{/title}
    {#header}Rechnung{/header}
    {#content}
        <!-- Nur noch ein "Mount-Point" für Vue -->
        <div id="invoice-app"
             data-invoice='{invoiceJson}'
             data-company='{companyJson}'
             data-billing='{billingJson}'
             data-current-date='{currentDate}'>
        </div>

        <!-- Und hier wird Dein JS-Modul geladen -->
        <script type="module" src="/js/invoice-app.js"></script>
    {/content}
{/include}
